.header {
  max-width: 186rem;
  max-height: 90rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 10rem;

  &__navigation {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 9.6rem;
    font-size: 2.4rem;

    &__logo-container {
      width: 100rem;
    }

    &__logo {
      max-width: 100%;
      height: 9rem;
    }

    &__list-container {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 2.4rem;
    }

    &__links,
    &__links:link,
    &__links:visited {
      text-decoration: none;
      color: $color-white;
      font-weight: 500;
      transition: all 0.3s;
    }

    &__links:hover,
    &__links:active {
      color: $color-secondary;
    }

    &__links.btn {
      color: $color-primary;
      background-color: $color-white;
      padding: 1.2rem 2.4rem;
    }

    &__links.btn:hover,
    &__links.btn:active {
      color: $color-white;
      background-color: $color-primary;
    }

    @media screen and (max-width: 59em) {
      .main-nav {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */

        /* 1) Hide it visually */
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
      }
    }
  }

  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    opacity: 1;
    z-index: -1;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-image: radial-gradient(
        circle at 100% 0%,
        $color-primary,
        rgba($color-primary, 0.5),
        rgba($color-secondary, 0.5)
      );
    }
  }

  &__content {
    // background-color: red;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &.sticky {
      margin-top: 9.6rem;
    }

    @media screen and (max-width: 66.25em) {
      grid-template-columns: 1fr;
    }

    &__title {
      width: 100rem;
      // height: 40rem;
      padding: 4.8rem;

      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      align-items: center;
      justify-content: center;

      text-align: center;
      grid-column: 1 span 2;
      // background-color: rgba(255, 255, 255, 0.92);

      margin: 4.8rem 4.8rem;
      font-size: 6.4rem;

      color: #222;

      border-radius: 2.4rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      transform: skew(45deg);

      & span {
        padding: 1.6rem;
        background-color: rgba(255, 255, 255, 0.92);
        font-size: 4.8rem;
        transform: skew(-53deg);
        @media screen and (max-width: 95em) {
          font-size: 3.4rem;
          max-width: 60rem;
          height: 40rem;
        }

        @media screen and (max-width: 66.25em) {
          font-size: 3rem;
          max-width: 50rem;
          height: 30rem;
          grid-column: 1 span -1;
        }
        @media screen and (max-width: 37.5em) {
          font-size: 2.8rem;
          max-width: 40rem;
          height: 20rem;
          transform: skew(0);
        }
      }

      @media screen and (max-width: 95em) {
        width: 60rem;
        height: 40rem;
      }
      @media screen and (max-width: 37.5em) {
        width: 60rem;
        height: 40rem;
        transform: skew(0);
      }
    }

    &__image-container {
      text-align: center;
      max-width: 45rem;
      // background-color: orange;
      grid-column: 2 span -1;
      grid-column: 2 / -1;
      grid-row: 1 / -1;

      @media screen and (max-width: 66.25em) {
        display: none;
      }
    }

    &__image {
      max-width: 100%;
      border-radius: 20rem;
    }

    &__clients-container {
      grid-column: 2;
      grid-row: 2 / 2;
      // background-color: red;

      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.8rem;

      padding: 4.8rem;
      @media screen and (max-width: 66.25em) {
        font-size: 2rem;
        max-width: 50rem;
        height: 30rem;
        grid-column: 1 / span 3;
      }
    }

    &__clients {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      &__image-container {
        max-width: 8rem;

        &:not(:last-child) {
          margin-right: -2rem;
        }
      }

      &-text {
        padding: 1.2rem;
        border-radius: 1rem;
        @media screen and (max-width: 66.25em) {
          width: 60rem;
          background-color: rgba(255, 255, 255, 0.9);
        }
        @media screen and (max-width: 37.5em) {
          width: 30rem;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    &__clients-image {
      display: inline-block;
      box-sizing: content-box;
      border: 0.5rem solid #fff;
      border-radius: 50%;
      max-width: 100%;
    }

    @media screen and (max-width: 37.5em) {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
  }

  &__button-container {
    // background-color: red;
    max-height: 4.8rem;
    padding: 4.8rem;

    margin-top: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;

    font-size: 2.4rem;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media screen and (max-width: 75em) {
    max-height: 95rem;
  }
  @media screen and (max-width: 37.5em) {
    max-height: 120rem;
  }
}
