.section__testimonial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90rem;

  padding: 6.4rem 0;
  // margin-bottom: 2.4rem;

  background-image: linear-gradient(
    to bottom right,
    rgba($color-white, 0.5),
    rgba($color-green-light, 1)
  );
}

.section__testimonial__slider {
  position: relative;
  max-width: 186rem;
  width: 186rem;
  height: 80rem;

  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

// Slider Button //
.testimonial--button {
  position: absolute;
  font-size: 10rem;
  width: 8rem;
  height: 8rem;
  background: transparent;
  border-radius: 50%;
  // padding: 2.4rem;
  border: none;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $color-secondary;
  }
}
.testimonial--button-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.testimonial--button-prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.testimonial__container {
  position: absolute;
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: solid 0.1rem rgb(0, 0, 0);
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.89);

  padding: 2.4rem;
  transition: all 0.1s;
  backface-visibility: hidden;
  background-color: $color-white;
  border-radius: 2.4rem;
  transition: transform 1s;
}

.testimonial {
  max-width: 60rem;
  padding: 2.4rem;

  line-height: 2.5;
  border-right: solid 0.1rem #000;

  &__image {
    max-width: 100%;
    border-radius: 0.4rem;
  }

  &__name {
    font-size: 2.4rem;
    text-align: center;
    color: $color-dark;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__story {
    max-width: 100%;
    padding: 2.4rem;
    font-size: 2.4rem;
    color: $color-dark;
    position: relative;
  }

  &__quotation {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 50rem;
    color: rgba($color-green-light, 0.97);
    z-index: -1;
  }
}
