.section__testimonial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90rem;

  padding: 6.4rem 0;
  // margin-bottom: 2.4rem;

  background-image: linear-gradient(
    to bottom right,
    rgba($color-white, 0.5),
    rgba($color-green-light, 1)
  );

  @media screen and (max-width: 206.7em) {
    height: 120rem;
  }
  @media screen and (max-width: 37.5em) {
    height: 140rem;
  }
  @media screen and (max-width: 25.625em) {
    height: 160rem;
  }
}

.section__testimonial__slider {
  position: relative;
  width: 186rem;
  height: 80rem;

  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 206.7em) {
    width: 150rem;
    height: 90rem;
  }
  @media screen and (max-width: 95em) {
    width: 100rem;
    height: 90rem;
  }

  @media screen and (max-width: 59.3em) {
    height: 100rem;
  }
  @media screen and (max-width: 43em) {
    width: 80rem;
    height: 90rem;
  }
  @media screen and (max-width: 37.5em) {
    max-width: 50rem;
    height: 130rem;
  }
}

// Slider Button //
.testimonial--button {
  position: absolute;
  font-size: 10rem;
  width: 8rem;
  height: 8rem;
  background: transparent;
  border-radius: 50%;
  border: none;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $color-secondary;
  }

  @media screen and (max-width: 25.625em) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.testimonial--button-next {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);

  @media screen and (max-width: 206.7em) {
    transform: translateX(-1rem);
  }
  @media screen and (max-width: 95em) {
    right: 0;
  }
  @media screen and (max-width: 59.3em) {
    right: 8%;
  }
  @media screen and (max-width: 37.5em) {
    right: -3%;
  }
}
.testimonial--button-prev {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 1;

  @media screen and (max-width: 206.7em) {
    transform: translateX(1rem);
  }
  @media screen and (max-width: 95em) {
    left: -2%;
  }
  @media screen and (max-width: 59.3em) {
    left: 6%;
  }
  @media screen and (max-width: 43em) {
    left: 4%;
  }
  @media screen and (max-width: 37.5em) {
    left: -6%;
  }
}

.testimonial__container {
  position: absolute;
  width: 140rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: solid 0.1rem rgb(0, 0, 0);
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.89);

  padding: 2.4rem;
  transition: all 0.1s;
  backface-visibility: hidden;
  background-color: $color-white;
  border-radius: 2.4rem;
  transition: transform 1s;

  @media screen and (max-width: 206.7em) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
  }
  @media screen and (max-width: 59.3em) {
    width: 70rem;
  }
  @media screen and (max-width: 37.5em) {
    width: 50rem;
    height: 100rem;
  }

  @media screen and (max-width: 25.625em) {
    width: 40rem;
    height: 120rem;
  }
}

.testimonial {
  &__image {
    width: 100%;
    border-radius: 0.4rem;

    &__container {
      max-width: 60rem;

      padding: 2.4rem;

      line-height: 2.5;
      border-right: solid 0.1rem #000;
      // max-width: 20rem;
      @media screen and (max-width: 206.7em) {
        border-right: none;
        max-width: 50rem;
      }
      @media screen and (max-width: 25.625em) {
        max-width: 30rem;
      }
    }
  }

  &__name {
    font-size: 2.4rem;
    text-align: center;
    color: $color-dark;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__story {
    width: 90rem;
    height: 40rem;
    padding: 2.4rem;
    font-size: 2.4rem;
    color: $color-dark;
    position: relative;
    @media screen and (max-width: 75em) {
      font-size: 2rem;
    }

    @media screen and (max-width: 59.3em) {
      width: 60rem;
      height: 20;
    }
    @media screen and (max-width: 37.5em) {
      width: 40rem;
      height: 60rem;
    }
    @media screen and (max-width: 35.625em) {
      max-width: 35rem;
      height: 60rem;
    }
  }

  &__quotation {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 50rem;
    color: rgba($color-green-light, 0.97);
    z-index: -1;
  }

  @media screen and (max-width: 206.7em) {
    max-width: 50rem;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  @media screen and (max-width: 25.625em) {
    display: flex;
    flex-direction: column;
  }
}
