$color-primary: #1971c2;
$color-secondary: #a5d8ff;

$color-white: #fff;
$color-white-shade: #e9e9e9;
$color-white-dark: #d2d2d2;
$color-dark: #222;
$color-dark-shade: #383838;
$color-background-dark: #142026;

$color-green-light: #ebfbee;
$color-green-dark: #69db7c;
$color-red: #fa5252;
