.dots__container {
  max-width: 40rem;
  grid-column: 2 / -1;
  position: relative;
  @media screen and (max-width: 25.625em) {
    bottom: -8%;
  }
}

.dots__list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.dots {
  width: 4rem;
  height: 1rem;
  background-color: $color-white-shade;
  border: solid 0.1rem rgb(0, 0, 0);
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s;
}

.dots--button {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
}

.dots__button-left {
  position: absolute;
  top: -0.3rem;
  left: -50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s;
}
.dots__button-left:active {
  left: -53%;
}

.dots__button-right {
  position: absolute;
  top: -0.3rem;
  right: -50%;
  transform: translateX(50%);
  cursor: pointer;
  transition: all 0.4s;
}

.dots__button-right:active {
  right: -53%;
}

// TESTIMONIAL CONTAINER SLIDER DOTS //

.dots__container--slider {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  bottom: -1%;
  right: 50%;
  gap: 1.2rem;
  transform: translateX(50%);

  @media screen and (max-width: 59.3em) {
    bottom: -1%;
  }
}

// THE DOTS
.dots__dot {
  width: 1.6rem;
  height: 1.6rem;
  background-color: $color-green-light;
  border: solid 0.1rem rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s;
}
